/*Stylesheet con diseños adicionales para formato de la web*/
/*------------------------------------------------------------------------------Index*/
/*Diseño del index*/
.activo { color:#B71C1C; }
body{ background-color: #e0e0e0; }
#big2 {background-color: white;};
header a:hover:not(.activo) { color: #B71C1C; }
#aimco{position: relative; left: 36%; top: 10px; font-size: 20px;}
header{ background-color: #e0e0e0; box-shadow: 2px 2px 2px gray; color: #212121; height: 25px; position: fixed; top: auto; width: 100%; z-index: 1999;}
header li { float: left; }
header li a { display: block; color: #212121; font-size: 13px; text-align: center; padding: 0px 16px; text-decoration: none; }
header ul { list-style-type: none; ; margin-top: 3px; padding: 0; overflow: hidden; }
#logo { height: 25px; left: 36%; position: relative; top: 18px; width: 70px; z-index: 998;}

/*Ocultar elementos en pantallas de 5.5 Pulgadas como LG G3 Stylus*/
@media only screen and (max-width: 479px)
{ #ocultar, #logo { display:none!important; }
  #aimco{position: relative; left: 15%; top: 10px; font-size: 20px;}
  header ul { list-style-type: none; margin-left: 5%; margin-top: 3px; padding: 0; overflow: hidden; }
}
/*------------------------------------------------------------------------------Index*/

/*------------------------------------------------------------------------------Dashboard*/
/*Diseño de la Gráfica*/
#campos_facturacion, #campos_ordenes, #campos_ofertas, #campos_back_order, #campos_facturacion_anterior, #campos_facturacion_anterior2, #campos_facturacion_anterior3, #facturas2015, #facturas2016
,#facturas2014, #facturas2013, #houdini
{
	display: none;
}

#canvas {position: relative; width: 80%;}
/*------------------------------------------------------------------------------Dashboard*/

#boton{ position: relative; right: -15%;}

/*------------------------------------------------------------------------------Navegaciones*/
/*Index pirncipal*/
@media only screen and (min-width: 768px){
  #navegacion_index{
    position: relative;
    left: 40%;
  }
  #header_global_3{ /*Acomodo de la navegación si es de ventas*/
    position: relative;
    left: 30%;
  }
  #header_global_10{ /*Acomodo de la navegación si es de sistemas*/
    position: relative;
    left: 25%;
  }
  #header_global_4, #header_global_5, #header_global_2{ /*Acomodo de la navegación si es de sistemas*/
    position: relative;
    left: 25%;
  }
}


.material-charts-chart-area {
	position: relative;
	color: #666666;
  width: 100%;
}

.material-charts-hover {
	position: fixed;
	display: none;
	background-color: #FFFFFF;
	padding: 10px;
	border-radius: 3px;
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
	z-index: 10;
}

/* Shadow Styles */

.material-charts-shadow-1 {
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.16), 0 2px 10px 0 rgba(0, 0, 0, 0.12);
}

.material-charts-shadow-2 {
	box-shadow: 0 8px 17px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.material-charts-shadow-3 {
	box-shadow: 0 12px 15px 0 rgba(0, 0, 0, 0.24), 0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.material-charts-shadow-4 {
	box-shadow: 0 16px 28px 0 rgba(0, 0, 0, 0.22), 0 25px 55px 0 rgba(0, 0, 0, 0.21);
}

.material-charts-shadow-5 {
	box-shadow: 0 27px 24px 0 rgba(0, 0, 0, 0.2), 0 40px 77px 0 rgba(0, 0, 0, 0.22);
}

/* Colors */

.material-charts-blue {
	background-color: #1976d2;
}

.material-charts-red {
	background-color: #d32f2f;
}

.material-charts-green {
	background-color: #388e3c;
}

.material-charts-yellow {
	background-color: #fbc02d;
}

.material-charts-grey {
	background-color: #616161;
}

.material-charts-black {
	background-color: #000000;
}

/* Chart Text */

.material-charts-chart-title {
	position: absolute;
	top: 5px;
	left: 0;
	right: 0;
	text-align: center;
}

.material-charts-error-message {
	position: absolute;
	margin: auto;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	height: 18px;
	width: 200px
}

/* Axes */

.material-charts-box-chart-y-axis {
	background-color: #777777;
	position: absolute;
	width: 1px;
	top: 35px;
	left: 25px;
	bottom: 25px;
}

.material-charts-box-chart-x-axis {
	background-color: #777777;
	position: absolute;
	height: 1px;
	right: 25px;
	left: 25px;
	bottom: 25px;
}

.material-charts-box-chart-vertical-tick {
	background-color: #777777;
	position: absolute;
	height: 1px;
	left: 20px;
	width: 10px;
}

.material-charts-box-chart-vertical-tick-label {
	position: absolute;
	left: 5px;
	font-size: 8px;
}

.material-charts-box-chart-horizontal-label {
	position: absolute;
	bottom: 5px;
	font-size: 12px;
}

.material-charts-box-chart-vertical-bar {
	position: absolute;
	bottom: 25px;
	box-shadow: 2px -2px 15px 0 rgba(0, 0, 0, 0.16), 2px -2px 15px 0 rgba(0, 0, 0, 0.12);
	border-radius: 3px 3px 0 0;

	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
	-moz-transition: all 0.2s ease; /* Firefox */
	-ms-transition: all 0.2s ease; /* IE 9 */
	-o-transition: all 0.2s ease; /* Opera */
	transition: all 0.2s ease;
}

.material-charts-box-chart-vertical-bar:hover {
	box-shadow: 2px -5px 30px 0 rgba(0, 0, 0, 0.24), 2px -5px 30px 0 rgba(0, 0, 0, 0.19);

	-webkit-transition: all 0.2s ease; /* Safari and Chrome */
	-moz-transition: all 0.2s ease; /* Firefox */
	-ms-transition: all 0.2s ease; /* IE 9 */
	-o-transition: all 0.2s ease; /* Opera */
	transition: all 0.2s ease;

	cursor: pointer;
}
