/*Stylesheet con diseños adicionales para formato de la web*/
/*------------------------------------------------------------------------------Index*/
/*Diseño del index*/
.activo { color:#B71C1C; }
body{ background-color: #e0e0e0; }
#big2 {background-color: white;};
header a:hover:not(.activo) { color: #B71C1C; }
#aimco{position: relative; left: 36%; top: 10px; font-size: 20px;}
header{ background-color: #e0e0e0; box-shadow: 2px 2px 2px gray; color: #212121; height: 25px; position: fixed; top: auto; width: 100%; z-index: 1999;}
header li { float: left; }
header li a { display: block; color: #212121; font-size: 13px; text-align: center; padding: 0px 16px; text-decoration: none; }
header ul { list-style-type: none; ; margin-top: 3px; padding: 0; overflow: hidden; }
#logo { height: 25px; left: 36%; position: relative; top: 18px; width: 70px; z-index: 998;}

/*------------------------------------------------------------------------------Index*/

/*------------------------------------------------------------------------------Dashboard*/
/*Diseño de la Gráfica*/
#campos_facturacion, #campos_ordenes, #campos_ofertas, #campos_back_order, #campos_facturacion_anterior, #campos_facturacion_anterior2, #campos_facturacion_anterior3, #facturas2015, #facturas2016
,#facturas2014, #facturas2013, #houdini, #ofertas2016, #ofertas2015, #ofertas2014, #ofertas2013, #campos_ofertas_anterior, #campos_ofertas_anterior2, #campos_ofertas_anterior3, #campos_ordenes_anterior
,#campos_ordenes_anterior2, #campos_ordenes_anterior3, #ordenes2016, #ordenes2015, #ordenes2014, #ordenes2013, #campos_back_order_anterior, #campos_back_order_anterior2, #campos_back_order_anterior3
,#back2016, #back2015, #back2014, #back2013
{
	display: none;
}

#canvas {position: relative; width: 80%;}
/*------------------------------------------------------------------------------Dashboard*/

#boton{ position: relative; right: -15%;}

/*------------------------------------------------------------------------------Navegaciones*/
/*Index pirncipal*/
@media only screen and (min-width: 768px){
  #navegacion_index{
    position: relative;
    left: 40%;
  }
  #header_global_3{ /*Acomodo de la navegación si es de ventas*/
    position: relative;
    left: 30%;
  }
  #header_global_10{ /*Acomodo de la navegación si es de sistemas*/
    position: relative;
    left: 25%;
  }
  #header_global_4, #header_global_5, #header_global_2{ /*Acomodo de la navegación si es de sistemas*/
    position: relative;
    left: 25%;
  }
}

/*------------------------------------------------------------------------------Diseño Iphone 4 3.5"*/
/*------------------------------------------------------------------------------Portait*/
@media (max-width: 320px){
	/*Acomodo del index principal*/
	#navegacion_index{
		position: relative;
		left: 10%;
	}
	#logo, #nosotros, #bigimg2, #visita, #acceso_sistema{
		display: none;
	}
	#aimco{
		position: relative;
		left: 7%;
	}
	/*Acomodo Header Ventas*/
	#aimco_header, #inventarios_header, #soporte_header, #nombre_header, #grafica_de_ventas, #grafico, #boton, #esconde_ordenes
	,#esconde_ofertas, #esconde_back,#fecha_detalle_factura, #cliente_detalle_factura, #cliente_detallado, #fecha_factura_busqueda,
	#subtotal_detalle_factura, #subtotal_detalle_factura, #iva_detalle_factura, #iva_detallado, #modal5 img, #vista_detallada, #recuadro_busqueda
	,#esconde_facturas{
		display: none;
	}
	#header_global_3{
		position: relative;
		left: 15%;
	}
}
/*------------------------------------------------------------------------------Portait*/
/*------------------------------------------------------------------------------Landscape*/
@media (min-width: 321px) and (max-width: 480px){
	/*Acomodo del index principal*/
	#navegacion_index{
		position: relative;
		left: 30%;
	}
	 #nosotros, #bigimg2, #visita, #acceso_sistema{
		display: none;
	}
	#logo{
		position: relative;
		left: 17%;
	}
	#aimco{
		position: relative;
		left: 15%;
	}
	#formulario_user, #formulario_pass{
		position: relative;
		top: -20px;
		margin-bottom: -10px;
	}
	/*Acomodo Header Ventas*/
	#aimco_header, #grafica_de_ventas,#esconde_ordenes
	,#esconde_ofertas, #esconde_back, #grafico, #boton
	,#fecha_detalle_factura, #cliente_detalle_factura, #cliente_detallado, #fecha_factura_busqueda,
	#subtotal_detalle_factura, #subtotal_detalle_factura, #iva_detalle_factura, #iva_detallado, #modal5 img{
		display: none;
	}
}
/*------------------------------------------------------------------------------Landscape*/
/*------------------------------------------------------------------------------Diseño Iphone 4 3.5"*/
