/*Stylesheet con diseños adicionales para formato de la web*/
/*------------------------------------------------------------------------------Index*/
/*Diseño del index*/
.activo { color:#B71C1C; }
body{ background-color: #e0e0e0; }
#big2 {background-color: white;};
header a:hover:not(.activo) { color: #B71C1C; }
#aimco{position: relative; left: 36%; top: 10px; font-size: 20px;}
header{ background-color: #e0e0e0; box-shadow: 2px 2px 2px gray; color: #212121; height: 25px; position: fixed; top: auto; width: 100%; z-index: 1999;}
header li { float: left; }
header li a { display: block; color: #212121; font-size: 13px; text-align: center; padding: 0px 16px; text-decoration: none; }
header ul { list-style-type: none; ; margin-top: 3px; padding: 0; overflow: hidden; }
#logo { height: 25px; left: 36%; position: relative; top: 18px; width: 70px; z-index: 998;}

/*Ocultar elementos en pantallas de 5.5 Pulgadas como LG G3 Stylus*/
@media only screen and (max-width: 479px)
{ #ocultar, #logo { display:none!important; }
  #aimco{position: relative; left: 15%; top: 10px; font-size: 20px;}
  header ul { list-style-type: none; margin-left: 5%; margin-top: 3px; padding: 0; overflow: hidden; }
}
/*------------------------------------------------------------------------------Index*/

/*------------------------------------------------------------------------------Dashboard*/
/*Diseño de la Gráfica*/
#campos_facturacion, #campos_ordenes, #campos_ofertas, #campos_back_order, #campos_facturacion_anterior, #campos_facturacion_anterior2, #campos_facturacion_anterior3, #facturas2015, #facturas2016
,#facturas2014, #facturas2013, #houdini
{
	display: none;
}

#canvas {position: relative; width: 80%;}
/*------------------------------------------------------------------------------Dashboard*/

#boton{ position: relative; right: -15%;}

/*------------------------------------------------------------------------------Navegaciones*/
/*Index pirncipal*/
@media only screen and (min-width: 768px){
  #navegacion_index{
    position: relative;
    left: 40%;
  }
  #header_global_3{ /*Acomodo de la navegación si es de ventas*/
    position: relative;
    left: 30%;
  }
  #header_global_10{ /*Acomodo de la navegación si es de sistemas*/
    position: relative;
    left: 25%;
  }
  #header_global_4, #header_global_5, #header_global_2{ /*Acomodo de la navegación si es de sistemas*/
    position: relative;
    left: 25%;
  }
}
