*.ppt
documentos/ArchivacionAutomatica.pdf
*.mp4
documentos/Tutorial-Escritorio-Remoto.pdf
*.xml
documentos/Comprobantes/737164.pdf
*.pdf
documentos/Inventario Eagle Demo 24092014.xlsx
*.docx
documentos/Standard Corporate Presentation rev 01.21.13.pptx